#title{
    text-align: center;
    size: A3;
}
#head{
    size: A5;
    color: black;
}
#head1{
    size: A5;
    position: absolute;
    left: 20px;
}
.datasets{
    height: 570px;
    width: 1325px;
    background-color: #a8cdff;
}
.endpointText form-control selectized{
    tab-index: "-1";
    height: 20px;
    left: 100px;
    position: absolute;
    left: 30px;
}
.selectized-dropdown single endpointText form-control plugin-allowRegularTextInput{
    width: 400px;
    top: 36px;
    left: 0px;
    visibility: visible;
}
.optgroup1{
    data-group:"catalogue";
}
.optgroup2{
    data-group:"catalogue";
}
.IntroductionDataset{
    height: 490px;
    width: 500px;
    position: absolute;
    left: 20px;
    top: 130px;
    background-color: #a8cdff;
}
.information{
    position: absolute;
    top: 30px;
    left: 30px;
    right: 30px;
}
.information table td{
    border-left: 1px solid #F00;
    border-top: 1px solid #F00;
    border-right: 1px solid #F00;
    border-bottom: 1px solid #F00;
}
.viewData{
    height: 550px;
    width: 720px;
   background-color: #a8cdff;
    position: absolute;
    left: 600px;
    top: 60px;
}
.query{
    height: 500px;
    width: 660px;
    background-color: #a8cdff;
}
.queryAnnotation{
    size: B5;
    color: #666666;
}
.RUN{
    height: 40px;
    width: 50px;
    color: blue;
    position: absolute;
    left: 610px;
    top: 655px;
}
.ResultView{
    height: 500px;
    width: 660px;
    position: absolute;
    top: 639px;
    left: 670px;
    background-color: #a8cdff;
}
#queryStringTextarea{
    font-size: 14px;
    position: relative;
    top: 10px;
    left: 30px;
}
#resultViewtextarea{
    height: 430px;
    width: 620px;
    position: relative;
    top: 10px;
    left: 20px;
}
#restable{
    text-align: left;
    position: relative;
    top: 10px;
    left: 80px;
}
#restable td{
    border-left: 1px solid #000000;
    border-top: 1px solid #000000;
    border-right: 1px solid #000000;
    border-bottom: 1px solid #000000;
}